@import '../../variables.scss';

.nav {
  display: flex;
  gap: 30px;

  & > * {
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s ease;
    color: $textColor;
    font-weight: 500;
  }

  & > *:visited {
    color: $textColor;
  }

  & > *:hover,
  & > *.active {
    color: $primaryColor;
  }
}