.progressSteps {
  .lineContainer {
    height: 4px;
    min-width: 500px;
    position: relative;

    .line {
      height: 100%;
      width: 100%;
      background-color: #dadcdf;
      position: absolute;
      top: 0;
      left: 0;

      .innerLine {
        height: 100%;
        background-color: #3589cd;
        transition: all 0.3s ease-in;
      }
    }

    .circlesContainer {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
    }
  }

  .buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;

    .button {
      min-width: 100px;
      padding: 7px;
      border-radius: 5px;
      border: none;
      background-color: #3589cd;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
    }

    .button:active {
      transform: scale(0.98);
    }

    .button:disabled {
      cursor: not-allowed;
      background-color: #dadcdf;
    }
    
    .button:disabled:active {
      transform: none;
    }
  }
}
